.container-2 {
    max-width: 45vw;
    border: black;
    border-width: medium;
    border-style: solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    margin-top: 20px;
    margin-left: 20px;
    color: black;
}

.add-campsite-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px
}

.checkbox-label {
    padding-top: 5px;

}

.submit {
    padding-top: 5px;
}